* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
}
h1 {
  font-size: 34px;
  color: #010d42;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  line-height: 48px;
}
p {
  margin: 0;
  padding: 0;
}
.header {
  height: 80px;
  width: 100%;
  padding: 0px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.header__logo {
  height: 40px;
  width: 190.43px;
}

.header__action {
  height: 100%;
  display: flex;
  align-items: center;
  width: auto;
  column-gap: 14px;
}

.header__text {
  color: #171717;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
}

.btn {
  height: 44px;
  width: 149px;
  padding: 8px 16px;
  color: #171717;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #021a84;
  color: white;
  border: none;
}

.btn--secondary {
  background-color: #ffffff;
  border: 1px solid #021a84;
  color: #021a84;
}

.flex-box {
  align-items: center;
  display: flex;
}

.full-width {
  width: 100%;
}
.container {
  width: 100%;
  height: auto;
  padding: 40px 140px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.search-box {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 8px 16px;
  height: 50px;
}

.suggestion-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 12px;
  margin-top: 16px;
}

.suggestion-list {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.suggestion-list li {
  background-color: rgba(0, 0, 0, 0.1);
  color: #010d42;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-list li:hover {
  background-color: #ccc;
}

.jobs__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.jobs__card {
  border-radius: 16px;
  padding: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;
  border: 1px solid #f9f9f9;
}

.jobs__card:hover {
  border: 1px solid #021a84;
  box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.08);
}

.job__name {
  align-self: baseline;
  font-size: 16px;
  font-weight: 500;
  color: #010d42;
}

.job__tag {
  color: #021a84;
  font-size: 12px;
  background-color: #f1f3f9;
  padding: 4px 8px;
  border-radius: 8px;
}

.job__tag--second {
  color: #010d42;
  font-size: 12px;
  background-color: #f2f2f2;
  padding: 4px 16px;
  border-radius: 8px;
}

.job__badge {
  background-color: #fe4c4c;
  border-radius: 8px;
  padding: 4px 16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

.reason__box {
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  text-align: center;
}
.reason__title {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
}
.reason__content {
  line-height: 20px;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.partner__logo {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 8px;
}

.process__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #171717;
}

.process__content {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.footer {
  margin-top: 126px;
  background-color: #f2f6f9;
  padding: 0px 140px;
}
.footer__cta {
  height: 119px;
  background-color: #26ab5b;
  border-radius: 20px;
  position: relative;
  bottom: 55px;
  display: flex;
  align-items: center;
}
.footer__cta--block1 {
  gap: 16px;
  flex: 4;
  padding-left: 40px;
}
.footer__cta--block2 {
  background-color: #55d781;
  flex: 1;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}
.footer__cta--img {
  width: 67px;
  padding: 7.05px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  box-shadow: 0px 12.34px 30px rgba(0, 0, 0, 0.08);
}
.footer__cta--title {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.footer__cta--subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.footer__newsletter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__newsletter-input {
  height: 50px;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 252px;
}
.footer__newsletter-input::placeholder {
  color: #999999;
}

.footer__newsletter-btn {
  padding: 15px;
  border-radius: 8px;
  background: linear-gradient(to right, #ef463a, #fca939);
  cursor: pointer;
}

.footer__jobs-company--quantity {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 26px;
}
.footer__jobs-company--quantity > div {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #010d42;
  font-weight: 700;
  font-size: 14px;
}

.footer__info {
  margin-top: 40px;
  justify-content: space-between;
  display: flex;
  gap: 50px;
}

.footer__info--social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__text-copyright {
  text-align: center;
  color: #999999;
  font-size: 18px;
  padding-bottom: 107px;
}

.footer__info-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer__info-title {
  color: #010d42;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.footer__info-detail {
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
