* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
  overflow-y: auto !important;
  position: relative;
}
h1 {
  font-size: 34px;
  color: #010d42;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  line-height: 48px;
}

h4 {
  font-size: 18px;
  color: #021a84;
  padding: 0px;
  margin: 0px;
  line-height: 28px;
  font-weight: 400;
}
p {
  margin: 0;
  padding: 0;
}
.header {
  height: 80px;
  width: 100%;
  padding: 0px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.header__logo {
  height: 40px;
  width: auto;
}

.header__action {
  height: 100%;
  display: flex;
  align-items: center;
  width: auto;
  column-gap: 14px;
}

.header__text {
  color: #171717;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
}
.hamburger-menu {
  display: none;
  position: relative;
  cursor: pointer;
}
.hamburger-menu__icon {
  width: 30px;
}
.hamburger-menu:hover .hamburger-menu__action {
  display: block;
}
.hamburger-menu__action {
  position: absolute;
  background-color: #ffffff;
  top: 30;
  right: 0;
  min-width: 150px;
  z-index: 10;
  box-shadow: 0px 12.34px 30px rgba(0, 0, 0, 0.08);
  display: none;
}
.hamburger-menu__action--block {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  align-items: center;
  cursor: pointer;
}
.hamburger-menu__action--block:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.hamburger-menu__action--icon {
  width: 20px;
}
.hamburger-menu__action--text {
  font-size: 14px;
}
.btn {
  height: 44px;
  width: 149px;
  padding: 8px 16px;
  color: #171717;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #021a84;
  color: white;
  border: none;
}

.btn--secondary {
  background-color: #ffffff;
  border: 1px solid #021a84;
  color: #021a84;
}

.flex-box {
  align-items: center;
  display: flex;
}

.full-width {
  width: 100%;
}

.banner {
  object-fit: contain;
  width: 100%;
}

.container {
  width: 100%;
  height: auto;
  padding: 40px 140px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.search__container {
  padding: 12px;
  column-gap: 12px;
  border-radius: 16px;
}

.search__box-job {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 8px 16px;
  height: 50px;
  margin-right: 16px;
}

.search__box-location {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 8px 16px;
  height: 50px;
  justify-content: space-between;
  width: 40%;
  margin-left: 16px;
}
.search__box-direction {
  border: 1px solid #999999;
  height: 16px;
}
.search__input_placeholder {
  color: #999999;
  font-size: 14px;
  margin-left: 4px;
}

.suggestion-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 12px;
  margin-top: 16px;
  font-size: 14px;
  color: #010d42;
}

.suggestion-list {
  list-style: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.suggestion-list li {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-list li:hover {
  background-color: #ccc;
}
.jobs__title {
  justify-content: space-between;
  padding-right: 16px;
}
.jobs__title__img {
  width: 67px;
  box-shadow: 0px 12.34px 30px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 7.05px;
  margin-right: 9px;
}
.jobs_title_textall {
  color: #021a84;
  font-size: 18px;
  font-weight: 500;
}
.jobs__grid,
.reasons__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.job__card {
  border-radius: 16px;
  padding: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;
  border: 1px solid #f9f9f9;
}

.job__card:hover {
  border: 1px solid #021a84;
  box-shadow: 0px 16px 50px rgba(0, 0, 0, 0.08);
}

.job__card_name {
  align-self: baseline;
  font-size: 16px;
  font-weight: 500;
  color: #010d42;
}

.job__tags-box {
  gap: 16px;
  display: flex;
  align-items: center;
}
.job__tag {
  color: #021a84;
  font-size: 12px;
  background-color: #f1f3f9;
  padding: 4px 8px;
  border-radius: 8px;
}

.job__tag--second {
  color: #010d42;
  font-size: 12px;
  background-color: #f2f2f2;
  padding: 4px 16px;
  border-radius: 8px;
}

.job__badge {
  background-color: #fe4c4c;
  border-radius: 8px;
  padding: 4px 16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

.reason__box {
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  text-align: center;
}
.reason-1 {
  background-color: rgba(42, 218, 102, 0.4);
  color: #156d33;
}
.reason-2 {
  background-color: rgba(2, 26, 132, 0.4);
  color: #010d42;
}
.reason-3 {
  background-color: rgba(229, 83, 42, 0.4);
  color: #e5532a;
}
.reason__title {
  line-height: 28px;
  font-size: 18px;
  font-weight: 700;
}
.reason__content {
  line-height: 20px;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.partners__section {
  text-align: center;
}
.partners__list {
  gap: 60px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.partner__logo {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  padding: 8px;
}

.partner__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.process__title {
  text-align: center;
}
.process_container {
  margin-top: 40px;
  gap: 101px;
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.process_container__box {
  flex-direction: column;
  row-gap: 16px;
  flex: 1;
}
.process_number {
  padding: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}
.process__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #171717;
}

.process__content {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.footer {
  margin-top: 126px;
  background-color: #f2f6f9;
  padding: 0px 140px;
}
.footer__cta {
  height: 119px;
  background-color: #26ab5b;
  border-radius: 20px;
  position: relative;
  bottom: 55px;
  display: flex;
  align-items: center;
}
.footer__cta--block1 {
  gap: 16px;
  flex: 4;
  padding-left: 40px;
}
.footer__cta--block2 {
  background-color: #55d781;
  flex: 1;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
}
.footer__cta--img {
  width: 67px;
  padding: 7.05px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  box-shadow: 0px 12.34px 30px rgba(0, 0, 0, 0.08);
}
.footer__cta--title {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.footer__cta--subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.footer__subscribe-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -15px;
  gap: 20px;
}

.footer__newsletter {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__newsletter-input {
  height: 50px;
  border-radius: 8px;
  padding: 8px 8px 8px 16px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 252px;
}
.footer__newsletter-input::placeholder {
  color: #999999;
}

.footer__newsletter-btn {
  padding: 15px;
  border-radius: 8px;
  background: linear-gradient(to right, #ef463a, #fca939);
  cursor: pointer;
}
.footer__jobs-company {
  gap: 6px;
  font-size: 14px;
  color: #999999;
}
.footer__jobs-company--quantity {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 26px;
}
.footer__jobs-company--quantity > div {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #010d42;
  font-weight: 700;
  font-size: 14px;
}

.footer__info {
  margin-top: 40px;
  gap: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer__info--social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__info--social-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text-copyright {
  text-align: center;
  color: #999999;
  font-size: 18px;
  padding-bottom: 107px;
}

.footer__info-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer__info-title {
  color: #010d42;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.footer__info-detail {
  color: #999999;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.scroll-top-btn {
  background-color: #021a84;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
